@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&family=Roboto:wght@400;700&display=swap");

:root {
  --line-border-fill: rgb(66, 66, 203);
  --line-border-empty: rgb(179, 172, 172);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Mulish", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-color: #e3ebf0;
}

.container {
  text-align: center;
}
.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  /* set max-width to allow for different screen sizes */
  max-width: 100%;
  /* remember to set width to allow elements to space out */
  width: 350px;
}

.progress-container::before {
  /* remember to add content: ""; when using before */
  content: "";
  background-color: var(--line-border-empty);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  height: 4px;
  width: 100%;
  z-index: -1;
}

/* this is the blue progress line */
.progress {
  background-color: var(--line-border-fill);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  z-index: -1;
  /* add transition for later when changing classes*/
  transition: 0.4s ease;
}

.circle {
  background-color: white;
  color: var(--line-border-empty);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--line-border-empty);
  transition: 0.4s ease;
}

.circle.active {
  border-color: var(--line-border-fill);
}

.btn {
  background-color: var(--line-border-fill);
  color: white;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  font-family: inherit;
  padding: 8px 30px;
  margin: 5px;
  font-size: 14px;
}
/* to have changes happening on click*/
.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: 0;
}

.btn:disabled {
  background-color: var(--line-border-empty);
  cursor: not-allowed;
}
